body {
    margin: 0;
    padding: 0;
}

.PageHead {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
}

.PageHead_list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.PageHead_list li {
    position: relative;
    cursor: pointer;
}

.PageHead_list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.PageHead_list li:hover::after {
    width: 100%;
}

.PageHead button {
    width: 120px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#register_btn {
    background-color: black;
    color: white;
}

#register_btn:hover {
    background-color: white;
    color: black;
}

#login_btn {
    background-color: white;
    color: black;
}

#login_btn:hover {
    background-color: black;
    color: white;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.otpbox{
    width: 600px;
    height: 350px;
    padding-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}
input{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border: solid #000 2px;
    border-radius: 10px;
}
#button1{
    margin-top: 30px;
    background-color: #000;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
   margin-top: 20px;
}
h1{
    margin-top: 15px;
}